header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #302f30;
  
}
h1{
  display: flex;
  flex-direction: row;
  gap:10px;
  color: rgb(249, 245, 241);
  .firstname,
  .lastname{
    font-size: 2rem; 
  }
  span.role{
    font-size: 15px;
    font-weight: 50;
  }
}

.main-nav{
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  gap: 20px;
  font-weight: 50;
}

@media (min-width: 375px) and (max-width:1024px){
    h1 {
    flex-direction: column;  
  }    

    .main-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }
  
  }
   